@import "../../style/style.scss";

@media (max-width: $mobile-breakpoint) {
    .Profile {
        background-color: $color5;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .Topbar {
        display: flex;
        flex-direction: row;
        background-color: $color1;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 8vh;
    }

    .Logo {
        margin: clamp(2px, 0.5vh, 50px);
        height: clamp(10px, 5vh, 100px);
        justify-items: center;
        align-content: center;
    }

    .Logo img {
        height: 100%;
    }

    .Name {
        margin: clamp(2px, 0.5vh, 50px);
        margin-right: clamp(2px, 2vh, 50px);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1vw;
        height: 7vh;
    }

    .Topbar p {
        color: $color2;
        font-weight: 100;
        font-size: clamp(1px, 2.5vh, 30px);
    }

    .Carousel {
        margin-top: 2vh;
        margin-bottom: 2vh;
        width: 90%;
        height: 92vh;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
}

@media (min-width: $desktop-breakpoint) {
    .Profile {
        background-color: $color5;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color2;
        height: 100vh;
        padding: 0px;
        margin: 0px;
    }

    .Topbar {
        display: flex;
        flex-direction: row;
        background-color: $color1;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 8vh;
    }

    .Logo {
        margin: clamp(2px, 0.5vh, 50px);
        height: clamp(10px, 5vh, 100px);
        justify-items: center;
        align-content: center;
    }

    .Logo img {
        height: 100%;
    }

    .Name {
        margin: clamp(2px, 0.5vh, 50px);
        margin-right: clamp(2px, 2vh, 50px);
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
        height: 7vh;
    }

    .Topbar p {
        color: $color2;
        font-weight: 100;
        font-size: clamp(1px, 2.5vh, 100px);
    }

    .Carousel {
        margin-top: 6vh;
        margin-bottom: 2vh;
        width: 90%;
        height: 92vh;
    }
}
