$mobile-breakpoint: 768px;
$desktop-breakpoint: 769px;

$color1: #0d0d0d;
$color2: #ffffff;
$color3: #a59f9f;
$color4: #30d5ab;
$color5: #cecaca;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Press+Start+2P&display=swap");
